<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Booking</title>
    <link rel="stylesheet" href="/user_interface.css">
    <link rel="stylesheet" href="font.css">
</head>
<body>

    <header>
        <h1>Welcome {{Username}} !</h1>
        <button class="logout-button" onclick="logout()">Logout</button>
    </header>
    <!-- room details in cards -->
    <div class="room-cards-container">
        <div class="room-card">
            <img src="https://images.pexels.com/photos/7534269/pexels-photo-7534269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Deluxe Room">
            <h3>Deluxe Room</h3>
            <p>Experience the comfort of our spacious Deluxe Room, featuring a luxurious king-sized bed and a breathtaking view. 
            <br><br> Price: ₹2500 per day</p>
           <a href="#booking"> <button class="book-button" onclick="book_now1()">Book Now</button> </a>
        </div>

        <div class="room-card">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/498055943.jpg?k=74eac72b3a6ff6221dae23d1479a171b3630c92f0e76a42a691c4ed9e45dd19f&o=&hp=1" alt="Executive Suite">
            <h3>Executive Suite</h3>
            <p>Indulge in luxury with our Executive Suite, featuring a spacious living area and a relaxing jacuzzi. 
            <br><br> Price: ₹4000 per day</p>
           <a href="#booking"> <button class="book-button" onclick="book_now2()">Book Now</button> </a>
        </div>

        <div class="room-card">
            <img src="https://5.imimg.com/data5/KO/BP/XZ/GLADMIN-25496103/6w6a0075-1-500x500.jpg" alt="non ac rooms">
            <h3>Non AC Room</h3>
            <p>Enjoy comfort and simplicity with our Non AC Room and Experience simplicity, ideal for a tranquil stay. 
            <br><br> Price: ₹1000 per day</p>
           <a href="#booking"> <button class="book-button" onclick="book_now3()">Book Now</button> </a>
        </div>       
    </div>
    
    <!-- booking details -->
    <div class="booking-container" id="booking">
        <h2>Room Booking</h2>
        <form action="/book" method="post">
        {{!-- user name --}}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required value={{Username}}>
            <label for="roomType">Select Room Type:</label>
            <select id="roomType" name="roomType" required>
                <option value="Deluxe Room">Deluxe Room</option>
                <option value="Executive Suite">Executive Suite</option>
                <option value="Non Ac Room">Non Ac Room</option>
            </select>
            <!-- check in date -->
            <label for="checkInDate">Check-in Date:</label>
            <input type="date" id="checkInDate" name="checkInDate" required>
            <!-- check out date -->
            <label for="checkOutDate">Check-out Date:</label>
            <input type="date" id="checkOutDate" name="checkOutDate" required>
            <!-- no.of gest -->
            <label for="guests">Number of Guests:</label>
            <input type="number" id="guests" name="guests" min="1" required>
            <button type="submit">Book Now</button>
        </form>
    </div>

    <main>
    <!-- user booking details -->
    <section id="users">
    <h2>Your Bookings</h2>
     <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Room Type</th>
        <th>Check-in Date</th>
        <th>Check-out Date</th>
        <th>Guests</th>
        <th>Days</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each bookings}}
      <tr>
        <td>{{username}}</td>
        <td>{{room_type}}</td>
        <td>{{check_in_date}}</td>
        <td>{{check_out_date}}</td>
        <td>{{number_of_guest}}</td>
        <td>{{no_of_days}}</td>
        <td>{{Amount}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
    </main>
    <script>
        function logout() {
            alert("Logged out successfully!");
            location.replace("/");
        }
        function book_now1(){
               let selectElement = document.getElementsByTagName('select')[0];
               let selectedValue = "Deluxe Room";
               selectElement.value = selectedValue;
        }
        function book_now2(){
               let selectElement = document.getElementsByTagName('select')[0];
               let selectedValue = "Executive Suite";
               selectElement.value = selectedValue;
        }
        function book_now3(){
               let selectElement = document.getElementsByTagName('select')[0];
               let selectedValue = "Non Ac Room";
               selectElement.value = selectedValue;
        }
    </script>
</body>

</html>
